@model IEnumerable<WebChat.Utils.Common.Models.Response.MessageResponse>

@{
    WebChat.Utils.Common.Models.Response.UserResponse oUserSession = (WebChat.Utils.Common.Models.Response.UserResponse)Session["User"];
    WebChat.Utils.Common.Models.Response.RoomResponse oCurrentRoom = ViewBag.CurrentRoom;
    ViewBag.Title = oUserSession.FirstName + " " + oUserSession.LastName + "'s Chatroom Messages";
}

<style type="text/css">
    .message {
        margin: 10px;
        padding: 5px;
    }

    .messageRight {
        text-align: right;
        float: right;
    }
    div.panel-body {
        overflow: scroll;
        background: url('https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble.png');
    }
</style>

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-6">
        <div class="chat-panel panel panel-default">
            <div class="panel-heading">
                Messages from the users in the room
                <i class="fa fa-paper-plane fa-fw"></i>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" id="chat" style="height:250px;">
                <input type="hidden" id="displayname" />
                <div id="allMessages">
                    @foreach (var message in Model)
                    {
                        string classRight = "";
                        if (oUserSession.Id == message.UserID)
                        {
                            classRight = "messageRight";
                        }

                        <div>
                            <div class="col-md-6 message @classRight">
                                <b>@message.UserFullName</b><br />
                                <div>@message.Message</div>
                                <div style="font-size:11px;">
                                    @message.CreationDate.ToString()
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                </div>
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <div class="input-group">
                    <input id="txtMessage" type="text" name="message" class="form-control input-sm" placeholder="Type your message here..." />

                    <span class="input-group-btn">
                        <input type="submit" id="btnSend" style="width:100%" value="Send" class="btn btn-success" />
                    </span>
                </div>
            </div>
        </div>
    </div>    
</div>

<!--Audio element added to be used when an user enters or sends a message-->
<audio style="display:none" controls="controls" id="audioWelcome">
    <source src="~/Media/login.wav" type="audio/x-wav" />
    Your browser doesn't support audio files
</audio>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.2.js"></script>
    <script src="@WebChat.Utils.Common.Constants.Path.Url.SignlRHub"></script>
    <script type="text/javascript">
        $(function () {
            //Event added to capture enter key and send message
            document.addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    sendMessage();
                }
            });
        });
    </script>
    <script type="text/javascript">
        var chatHub = null;
        var divMessages = document.getElementById("chat");

        //Load SignalR when document loads
        $(function () {
            //Enable cors support for SIGNALR
            $.support.cors = true;
            //Get hub Url
            $.connection.hub.url = "@WebChat.Utils.Common.Constants.Path.Url.SignlR";

            //New instance of the hub
            chatHub = $.connection.chatHub;

            //Anonymum function to play a sound when a user enters
            chatHub.client.enterUser = function () {
                document.getElementById("audioWelcome").play();

                scrollDown(divMessages);
            }

            //Anonymum function to receive a message
            chatHub.client.sendChat = function (userName, message, messageDate, userId) {

                var classRight = "";

                //Add right alignment if message is from logged user
                if (userId == @oUserSession.Id) {
                    classRight = "messageRight";
                }

                //Build a new div with the message information
                var newMessage = '<div>'+
                    "<div class='col-md-6 message " + classRight + "'>" +
                        "<b>" + userName + "</b><br />" +
                        "<div>" + message + "</div>" +
                            "<div style='font-size:11px;'>" +
                                messageDate +
                            "</div>" +
                        "</div>" +
                        "<div class='clearfix'></div>" +
                    "</div>";

                //Add new div to messages, focus the message area and clean it
                $("#allMessages").append(newMessage);
                $("#txtMessage").focus();
                $("#txtMessage").prop("value", "");

                //Play notification
                document.getElementById("audioWelcome").play();

                //Move scroll down
                scrollDown(divMessages);
            }

            //Executed when connection is established
            $.connection.hub.start().done(function () {

                //Joint to a room
                chatHub.server.joinRoom(@oCurrentRoom.Id);

                $("#btnSend").click(function () {
                    sendMessage();
                });
            });
        });

        function sendMessage() {
                //Fill variables needed
            var userName = "@oUserSession.FirstName" + " @oUserSession.LastName";
            var roomId = @oCurrentRoom.Id;
            var message = $("#txtMessage").prop("value");
            var userId = "@oUserSession.Id";

            //If there's no message, then do nothing
            if (message == "") {
                alert("Please type a message.");
                return;
            } else if (message.toUpperCase().includes("/STOCK=")) {
                //If message is a command, clean textbox
                $("#txtMessage").prop("value", "");
            }

            //Send message to the server side
            chatHub.server.send(roomId, userName, userId, message);
        }

        //Scroll an element down
        function scrollDown(element) {
            element.scrollTop = element.scrollHeight;
        }
    </script>
}