@model WebChat.Client.Models.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

    string error = (string)ViewBag.error;
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        @using (@Html.BeginForm("Register", "Home", FormMethod.Post))
        {
            @Html.LabelFor(m => m.Login)
            @Html.TextBoxFor(m => m.Login, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })

            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })

            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })

            <input type="submit" value="Submit" class="btn btn-success" />
        }
    </div>

    <div class="text-danger">@error</div>

</div>


